{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Мои заказы</h2>
    {% if orders %}
        <table class="table">
            <thead>
                <tr>
                    <th>Номер заказа</th>
                    <th>Дата заказа</th>
                    <th>Статус</th>
                    <th>Детали</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{ order.id }}</td>
                        <td>{{ order.order_date.strftime('%Y-%m-%d') }}</td>
                        <td>{{ order.status }}</td>
                        <td>
                            <a href="{{ url_for('order_details', order_id=order.id) }}" class="btn btn-info">Просмотреть</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>У вас нет заказов.</p>
    {% endif %}
</div>
{% endblock %}
